@media only screen and (min-width:560px) {


/*naviagation starts here*/
nav ul {display: flex;}
nav ul li {flex-basis: 25%}
main figure{
    float: right;
    width: 48%;
    margin-left: 2%;
    padding-bottom: .5rem;
}
body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    }

div.news {
    clear: both; /*stay below any floaded image*/
    column-count: 2;
    column-rule: 1px solid #ddd;
}







} /* end of media query*/