    /*header rules*/
      
        header {
        
            padding: 3rem 0 0 20px ;
            h1 { 
                    
                font-size: 2.5rem;
            }
            h2 {
              
                margin: 0;
                padding: 0; 
                font-size:1.5rem;
                }
    }//end of header

    /* body rules */
    body {
        font-family: 'Oswald', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
        }


    nav{ 
        li{
        width:auto;
        height: 45px;
        float: left;
        
        }
        li a {
        font-size: larger;
        margin-top: .6rem;
        padding: .1rem 1rem;
     
        }
    }
   
//employees   
    .column {
        padding: 0 .1rem;
       
    }
    .padding{
        padding: 0 0 0 0;
    }
    section{
        font-size: 1.0rem;
    }
    
//tags
.padding2{
    padding: 0 0 0 0;
}
.card2{

   
 
    font-size: 12px;
    padding-top: 1.3rem;
    width: auto;
    margin: 4rem 0;
    text-align: center;

}



    
    div.blog {
        flex-basis: 29%;
    }

@for $i from 0 through 12 {
    $w: ($i / 12) * 100%;
    .medium-#{$i} {flex-basis: $w;}
}//end of loop