header, nav, main, footer,div#hamburger {
      
}

div#pageWrapper {
        grid-template-areas:
        "header"
        "navigation"
         "content"
        "footer"
        ;
        grid-template-columns:auto;
        max-width: 64rem;
        margin:auto;
    }
/*----------- BODY --------------*/
  

    

        main .parentGrid {
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                "txt1 img1"
                "img2 txt2"
                "txt3 img3";
            
        }
        
    main .parentGrid figure{
        display: block;
        text-align: center;
        font-size: .75rem;
    }
    
    



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul li {
        
        flex-basis: auto;
        a {
                padding: .6rem 1rem;
         }
}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
