
div#pageWrapper {
    grid-template-areas:
    "header header" //doubling make it have both left and right column
    "navigation content"
    "footer footer"
    ;
    grid-template-columns: 150px auto;
}


/*----------- BODY --------------*/
main .parentGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "txt1 img1"
    "img2 txt2"
    "txt3 img3";

}


/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
a.myjump{display:none;}
nav {height: auto;}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
