


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav a ion-icon{
    padding:0 44%;
    font-size: 2rem;
}


/*----------- MAIN --------------*/

section.sectionTag{
margin:.2rem;
}

main div#myCards{


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: auto;
    

}


/*----------- FOOTER --------------*/
    
