

 

    
    nav li {
        width: 25%;
        float: left;
        
    }
    nav li a{
        border-right: 1px solid white;
    }
 


    main figure {
        float: right; 
        width: 50%; 
        margin-left: 2%;
        padding-bottom: .5rem;
    }
    
