


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav a ion-icon{
    font-size: 2rem;
    margin-left: 2.7vw;
}



/*----------- MAIN --------------*/

section.sectionTag{
margin:.2rem;

}
div#cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}


/*----------- FOOTER --------------*/
    
