header, nav, main, footer {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul li {width: auto;}


/*----------- MAIN --------------*/


main section.bandmembers div.member{
        flex-basis: 24%;
        margin: 1rem .5%;
      
        
    
    }


/*----------- FOOTER --------------*/
    
