    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

    /*header rules*/


/*----------- BODY --------------*/

body {
    max-width: 75rem;
    margin:auto;

}

/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

/*----------- FORM --------------*/
form label.sbs {
    padding: .4rem 0;
  
}



/*----------- FOOTER --------------*/
    
