//using kuala preprocessor
$gutter: 2vw;

$logoText: black;
$primaryColor: rgb(123, 191, 255); 

$menuColor: rgb(9, 144, 235);

$defaultFont: 'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$heavyWeight: 700;
